# Node modules
node_modules/

# Puppeteer lokalni Chromium (možeš ignorisati, jer Railway koristi svoj)
.local-chromium/

# Public debug dump fajlovi
/public/*
!public/.gitkeep
!public/*.png
!public/*.html

# Logs & OS files
*.log
.DS_Store
Thumbs.db

# Env fajlovi
.env