# Node modules
node_modules/

# Puppeteer lokalni Chromium
.local-chromium/

# Do not ignore runtime debug dumps:
# /public/*.html
# /public/*.png
!public/.gitkeep

# BFG‑artefakti i tmp folderi
bfg-*.jar
puppeteer-bot-clean/
puppeteer-bot-clean.bfg-report/

# Logs & OS files
*.log
.DS_Store
Thumbs.db

# Env fajlovi
.env